.container {
  width: 400px;
  height: 200px;
  border: 2px solid #00000040;

  &.priority1 {
    background: #FF8080;
  }

  &.priority2 {
    background: #FFA680;
  }

  &.priority-3 {
    background: #FFCC80;
  }

  &.priority-4 {
    background: #FFE380;
  }

  &.priority- {
    background: #C7FF80;
  }
}
